<!-- src/app/components/navbar/navbar.component.html -->
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">Weather App</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/current-weather"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Current Weather
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/hourly-forecast"
          routerLinkActive="active"
        >
          Hourly Forecast
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/five-day-forecast"
          routerLinkActive="active"
        >
          5-Day Forecast
        </a>
      </li>
    </ul>
    <form class="form-inline ms-auto">
      <div class="d-flex align-items-center">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search City"
          [(ngModel)]="city"
          name="city"
        />
        <button
          class="btn btn-light my-2 my-sm-0"
          type="button"
          (click)="searchCity()"
        >
          Search
        </button>
      </div>
    </form>
  </div>
</nav>
